<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bikes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bikes-link">
                <a href="{% url 'products' %}?category=road_bikes" class="dropdown-item">Road Bikes</a>
                <a href="{% url 'products' %}?category=vintage_bikes"  class="dropdown-item">Vintage Bikes</a>
                <a href="{% url 'products' %}?category=hybrid_bikes"  class="dropdown-item">Hybrid Bikes</a>
                <a href="{% url 'products' %}?category=mountain_bikes"  class="dropdown-item">Mountain Bikes</a>
                <a href="{% url 'products' %}?category=fixie_bikes"  class="dropdown-item">Fixie Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=bibs_trousers"  class="dropdown-item">Bibs and Trousers </a>
                <a href="{% url 'products' %}?category=base_layers"  class="dropdown-item">Base Layers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black service-link" href="#" id="service-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Service
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="service-link">
                <a href="{% url 'bookservice' %}" class="dropdown-item">Service</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'post_list' %}" class="logo-font font-weight-bold nav-link text-black mr-5" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'events' %}" class="logo-font font-weight-bold nav-link text-black mr-5" id="events-link" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
        </li>

    </ul>
</div>