{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1>{{ post.title }}</h1>
<p>{{ post.author }}</p>
<img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
<p>{{ post.content }}</p>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}