{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row-home overflow-hidden">

    
                {% for post in post_list %}
                <div class="col-md-8">
                    <div class="card mb-4 col-sm-12 col-lg-8 bg-orange">
                        <div class="card-body card h-100 bg-blue">
                            <div class="image-container bg-green">
                                <a href="{% url 'post_detail' post.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                                </a>
                               
                               
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                    <!-- Additional functionality available if user is post author. -->
                                    {% if user == post.author %}
                                    <small>
                                    
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                            <a href="" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr/>
                            
                        </div>
                    </div>
                </div>
                <!-- Condition for pagination to be applied. -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn page-link">&laquo; PREV </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="btn page-link"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}







</div>
{%endblock%}
