
body {
    background: url('/media/images/pexels-rehook-bike-10263878.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #772E25;
    font-family: 'Bodoni Moda', serif;
}

.service-container {
    background: #EDDDD4;
}