{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay logot"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <br>
            <h2 class="logo-font text-black">About Us</h2>
            <br>
            <br>
            <h1>Vélo City</h1>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>     
{% endblock %}
